In [4]:
import os
import pandas as pd
from bs4 import BeautifulSoup as bs

In [10]:
data_dir = os.path.join(os.curdir, "data", "html_job_postings")
rows = []
for f in os.listdir(data_dir):
    file_path = os.path.join(os.curdir, "data", "html_job_postings", f)
    soup = bs(open(file_path))
    title = soup.find("title").text
    h1 = soup.find("h1")
    if(hasattr(h1,"text")):
        h1 = h1.text
    rows.append([f, title, h1])

In [7]:
df = pd.DataFrame(rows,columns=['file', 'title', 'h1'])
df

,file,title,h1
0,1e92960a19ffdd34_fccid.html,"Quantitative Analyst - Boston, MA 02116",None
1,3157fcef3ee474da_fccid.html,"Data Scientist - Mountain View, CA",None
2,b423ca22a6e2c10f_fccid.html,"Data Scientist - Seattle, WA",None
3,ea487254a487beb5_fccid.html,Senior Natural Language Processing (NLP) Engin...,[[Senior Natural Language Processing (NLP) Eng...
4,cb8a5bce330854e9_fccid.html,"FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...",None
...,...,...,...
1332,af6a31da7a74b6ac_fccid.html,"Data Scientist - Birmingham, AL 35233",None
1333,ad12f415dc3e5e8b_fccid.html,"Senior Data Scientist - Tempe, AZ",None
1334,5141331158ad3ba2_fccid.html,New College Grad - Cybersecurity (Masters Degr...,None
1335,abc816859ac7d358_fccid.html,"Decision Science Manager, Media Mix Modeling -...",None
1336,b04fcd896a54cac4_fccid.html,"Data Scientist - Bellevue, WA",None

In [ ]:
0